<!DOCTYPE html>
<html>
    <head>
        <title>Ektimo Feedback Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body class="thankYouBody">

<div class="container">
    <div class="row text-center thankYouText thankYouTextContainer">
        <div class="col-sm-12 col-xs-12">
            <div class="thankYouContent">
                <img class="thankYouLogo" src="/assets/imgs/Ektimo Logo V1.png">
                <h1><span>Thank You for Your Feedback</span></h1>
                <a href="http://ektimo.com.au/home/" class="btn btn-primary btn-lg">Return to Ektimo</a> 
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>