@charset "UTF-8";

html, body {
    min-height: 100%;
    height: 100%;
    font-family: "Myriad pro Semibold"
}

        
        /*Main Container*/
        
.main {
    background: #eee;
    padding-bottom: 50px;
}
        
        /***************/
        
        /*Header Image*/
.headerImg {
    background-image: url("/assets/imgs/Earth 2.jpg");
    height: 311px;
    background-size: cover;
    background-position: 50% 50%;
}
        /*************/

        /*Feedback Form*/
.feedbackFormContainer {
    margin-top: -100px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    border-top: 8px solid rgb(25, 101, 153);
}

.feedbackRequired {
    color: red;
    margin-bottom: 25px
}

.feedbackStar {
    color: red;
    font-size: 15px;
    margin-left: 3px;
}

.feedbackForm {
    width: 800px;
    margin: 0 auto;
    max-width: 90%;
}

.ratingContainer {
    width: 657px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 100%;
}

.ratingRadioButton {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.ratingRadioButton:first-of-type {
    padding-left: 0;
}

.ratingRadioButton input[type=radio] {
    position: absolute;
    margin-left: 0;
    width: 20px;
    height: 20px;
}

.ratingNumber {
    margin-left: 4px;
}

.ratingNumberLast {
    margin-left: 0;
}

.ratingTitle {
    display: inline-block;
    position: relative;
    top: 30px;
    padding-left: 25px;
}

.ratingTitle:first-of-type {
    padding-left: 0;
    padding-right: 25px;
}

.legendText {
    font-size: 15px;
    font-weight: 700;
    /*padding-top: 35px;*/
}

.legendText span {
    font-weight: 400;
    font-size: 14px;
}

.form-group {
    margin-bottom: 40px;
}

.form-group:first-child {
    margin-top: 30px;
}

        /*************/


    /*Margin CSS*/
    
.marginTop30 {
    margin-top: 30px;
}
   /*End Margin CSS*/
   
   /*Thank You Page*/
   
.thankYouBody {
    background-image: url("/assets/imgs/Earth 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.thankYouTextContainer {
    margin-top: 25%;
}

.thankYouContent {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 3px;
}

.thankYouText {
    color: #ffffff;
    font-size: 1em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}
   
   /****************/